@charset "utf-8";

body {
	font-family:'Montserrat', sans-serif;
}

td { 
	text-align: center;
	vertical-align: middle; 
}

th {
	text-align: center; 
	vertical-align: middle; 
 }
 
.checkBox {
	position: relative;
    top: 15px;
}

#buttonPosition {
    padding: 30px;
}


/* border-style: solid; */
/* border-color: #A0A0A0; */
/* border-width: thin; */