@charset "utf-8";

body {
	font-family:'Montserrat', sans-serif;
}

td { 
	text-align: center;
	vertical-align: middle; 
}

th {
	text-align: center; 
	vertical-align: middle; 
 }
 
.checkBox {
	position: relative;
    top: 15px;
}

#addBttnPosition {
    padding: 30px;
}

/* #removeAllBttn { */
	/* padding: 4 */
/* } */

.m-fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}

.panel-footer{
    background: #4285F4;
    color: white;
	padding: 10px;
	position: relative;
	bottom: 0;
	width: 100%;
}

#lc-link {
	color: white;
}




















