@charset "utf-8";

body {
	font-family:'Montserrat', sans-serif;
}

td { 
	text-align: center;
	vertical-align: middle; 
}

th {
	text-align: center; 
	vertical-align: middle; 
 }
 
/*Checkbox dimensions*/
.checkBox {
	position: relative;
    top: 15px;
}

/*Div table positioning*/
#divTable {
	padding-bottom: 218px;
}

/*Add button dimensions*/
#addBttnPosition {
    padding: 30px;
}

.m-fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}

/*Footer dimensions*/
.panel-footer{
    background: #4285F4;
    color: white;
	padding: 8px;
	position: relative;
	bottom: 0;
	width: 100%;
}

/*Footer color*/
#lc-link {
	color: white;
}

/*Fade out effect*/
#tableEntry {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}




















